#container{
    padding:20px;
    display:flex;
    flex-wrap: wrap;
}
#part1{
    flex:1 1 0;
    border:2px solid black;
    margin:10px;
    padding:10px;
    background-color: brown;
    color:cornsilk;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#part2{
    flex:2 1 0;
    border:2px solid black;
    margin:10px;
    padding:10px;
    display:flex;
    flex-wrap: wrap;
}
.block{
    height:370px;
    width:max(200px,100%);
    margin:10px;
    border: 1px solid black;
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
}
#headofPage{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding:20px;
}
form{
    display:flex;
    align-items:center;
    gap:10px;
    flex-wrap:wrap;
}

@media (max-width:768px){

    #container{
        flex-direction: column;
    }

    #part1,#part2{
        width:100%;
    }

    #headofPage{
        flex-direction: column;
        gap:10px;
        text-align:center;
    }
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
}